1 ICON "pmrsh.ico"

1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "pmrsh - lightweight remote agent"
            VALUE "FileVersion", "0.2.0"
            VALUE "InternalName", "pmrsh"
            VALUE "OriginalFilename", "pmrsh.exe"
            VALUE "ProductName", "pmrsh"
            VALUE "ProductVersion", "0.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
